*{
  font-family: 'Linux Libertine', sans-serif;
}

body{
  background-color: #f6f6f6;
}

nav img{
  float: left;
  margin-top: 0px;
  padding-bottom: 20px;
}


nav {
  float: left;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 10%;
  height: 92vh;
  background: rgb(248,249,250);
  background: linear-gradient(0deg, rgba(248,249,250,1) 91%, rgba(0,215,255,0) 100%);
  padding-right: 30px;
  border-right: 1px solid #a7d7f9;
  color: #0645ad;
}


nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li{
  margin-bottom: 7px;
  font-size: 0.75em;
}

nav ul li a{
  text-decoration: none;
  justify-content: center;
}

#sista{
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
}

.navbar{
  padding-top: 20px;
  display: block;
  height: 100%;
  padding-bottom: 18px;
  margin-right: 5px;
}

.navbar ul{
  list-style-type: none;
  padding: 10;

}

.navbar .navleft ul li{
  box-sizing: border-box;
  display: block;
  float: left;
  background-image: linear-gradient(to top,#77c1f6 0,#e8f2f8 1px,#ffffff 100%);
  background-position: left bottom;
  background-repeat: repeat-x;
  cursor: pointer;
  border-right: 1px solid #a7d7f9;
  font-size: 0.8125em;
  padding: 5px;
}

.navbar .navright ul li{
  box-sizing: border-box;
  display: block;
  float: right;
  background-image: linear-gradient(to top,#77c1f6 0,#e8f2f8 1px,#ffffff 100%);
  background-position: left bottom;
  background-repeat: repeat-x;
  cursor: pointer;
  border-right: 1px solid #a7d7f9;
  border-left: 1px solid #a7d7f9;
  padding-right: 5px;
  font-size: 0.8125em;
  padding: 5px;
}

.majn{
  border-top: 1px solid #a7d7f9;
  display: inline-block;
  margin-top: 0px;
  width: 87%;
  height: 1022px;
  background-color: #ffffff;
}

.majn p{
  margin-left: 20px;
}

.majn .rubriker{
  margin-left: 20px;
  font-family: 'Linux Libertine','Georgia','Times',serif;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.3;
  cursor: pointer;
  text-decoration: none;
}

.majn .huvudRubriker{
  margin-left: 20px;
  font-family: 'Linux Libertine','Georgia','Times',serif;
  font-size: 2.2em;
  font-weight: bold;
  line-height: 1.3;
  cursor: pointer;
  margin-bottom: 10px;
}

.majn .txt{
  margin-top: 0;
  border-top: 1px solid grey;
  padding-top: 0px;
}

.innehåll{
  width: 20%;
  background-color: #f8f9fa;
}

.innehåll ul{
  border: 1px solid grey;
  list-style-type: decimal;
}

.innehåll ul li{
  color: #0645ad;
}

.innehåll .förtäckning{
  text-decoration: none;
}
